<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaTouchFrameworkDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>gitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4807AE3D1D6166C700B1F56F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4807AE561D6166C700B1F56F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4807AE611D6166C700B1F56F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48485CBF1D62BC21008E6C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48485CC81D62BC21008E6C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
